<h1>Dashboard ERP</h1>

<div class="row">

<div class="col-md-4">
<div class="card bg-primary text-white p-3">
<h4>Clientes</h4>
<a href="/Clientes" class="btn btn-light">
Ver Clientes
</a>
</div>
</div>

<div class="col-md-4">
<div class="card bg-success text-white p-3">
<h4>Productos</h4>
<a href="/Productos" class="btn btn-light">
Ver Productos
</a>
</div>
</div>

<div class="col-md-4">
<div class="card bg-warning text-white p-3">
<h4>Ventas</h4>
<a href="/Ventas" class="btn btn-light">
Ver Ventas
</a>
</div>
</div>

</div>