@model IEnumerable<ERP.Models.Producto>

<h2>Productos</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.IdProducto</td>
                <td>@producto.Nombre</td>
                <td>@producto.Precio</td>
                <td>@producto.Stock</td>
            </tr>
        }
    </tbody>
</table>