@model ERP.Models.Empleado

<h2>Editar Empleado</h2>

<form asp-action="Editar">

<input type="hidden" asp-for="IdEmpleado"/>

<div class="form-group">
<label>Nombre</label>
<input asp-for="Nombre" class="form-control"/>
</div>

<div class="form-group">
<label>Cargo</label>
<input asp-for="Cargo" class="form-control"/>
</div>

<div class="form-group">
<label>Salario</label>
<input asp-for="Salario" class="form-control"/>
</div>

<br>

<button class="btn btn-primary">
Guardar Cambios
</button>

<a asp-action="Index" class="btn btn-secondary">
Cancelar
</a>

</form>